@charset "utf-8";
@import url(fonts.css);

/*-------------------------------------------------------------------
    파일정의: Main page style
    순서:    Contents > Main top(banner) > Aside
-------------------------------------------------------------------*/

:root{ 
    --swiper_image_width: 655px;
    --swiper_pagination_color: #ffffff
}
.main_content_wrap {display: flex; justify-content: space-between;}
/* contents start */
    /* main top start (banner) */
    .banner{padding-top: 7px;}
    .banner_inn{ height: 404px; border-bottom: 1px solid #1c1c1c;}
    .swiper-wrapper{height: 100%; display: flex; align-items: center;}
    .fade-in {opacity: 1;}
    .news {display: flex!important; align-items: center; height: 318px; width: 100%; opacity: 0;}
    .top_news_image {display: block; width: 662px; height: 321px; flex-shrink: 0;}
    .top_news_image img {object-fit: cover; width: 100%; height: 100%; max-width: 100%;}
    .top_news {padding: 21px 0 21px 23px; overflow: hidden; background-color: #fff;}
    .news .top_news p{overflow: hidden; text-overflow: ellipsis; padding-top: 24px; -webkit-box-orient: vertical; -webkit-line-clamp: 6; white-space: normal; display: -webkit-box; }
    .swiper-button-next {left: calc(var(--swiper_image_width) - 20px - 28px)!important}
    .swiper-button-prev {left: 20px!important;}
    .swiper-button-next::after, .swiper-button-prev::after {font-size: 55px!important; color: #9c9c9d!important}
    /* main top end (banner) */
    
    /* main conts1 start  */
    .conts1 .inn {display: flex; flex-wrap: wrap; justify-content: space-between; row-gap: 18px; column-gap: 21px;}
    .news_card {display: flex; flex-direction: column; width: 254px;}
    .news_card>img {width: 100%; height: 174px; margin-bottom: 15px;}    
    .news_card>h4 {letter-spacing: -0.3px;}
    .news_card>p {overflow: hidden; text-overflow: ellipsis; -webkit-box-orient: vertical; -webkit-line-clamp: 2; white-space: normal; display: -webkit-box; margin-top: 6px; letter-spacing: -0.6px;}
    /* main conts1 end  */

    /* main conts2 start  */
    .conts2 .inn {width: 100%; height: 194px; position: relative;}
    .swiper1 .swiper-wrapper {height: 100%;}
    .swiper1 .swiper-wrapper .swiper-slide {height: 100%;}
    .swiper1 .swiper-wrapper .swiper-slide img {object-fit: cover; height: 100%; width: 100%;}
    .swiper-pagination {top: 10px !important; position: absolute; left: -10px!important; text-align: end!important; width: 100%;}
    .swiper-pagination-bullet { background-color: #fff!important; width: 9px!important; height: 9px!important;}
    /* main conts2 end  */

    /* main conts3 start  */
    .conts3 {margin-top: 40px!important;}
    .conts3 .inn {width: 100%; height: 377px; display: flex; gap: 30px;}
    .bg_img {width: 417px; height: 100%; background: url(../image/레이어\ 32.png) no-repeat center; flex-shrink: 0; padding: 0 21px; display: flex; flex-direction: column; justify-content: end; background-size: cover;}
    .bg_img h2 {line-height: 30px; color: #ffffff;}
    .bg_img p {line-height: 21px; color: #ffffff; margin-bottom: 25px; margin-top: 11px;}
    .text_news_wrapper {display: flex; flex-direction: column;}
    .text_news {border-bottom: 1px solid #dbdbdb;}
    .text_news h3 {margin-top: 18.5px;}
    .text_news:first-child h3 {margin-top: -1px;}
    .text_news p {margin-top: 7px; margin-bottom: 17px;}
    .text_news:last-child {border: none; }
    .text_news:last-child p {margin-bottom: 0px;}
    /* main conts3 end  */
    
    /* main conts4 start  */
    .conts4 .inn {margin-top: 41px;}
    .right_img_news {display: flex ;border-bottom: 1px solid #dbdbdb; padding: 20px 0 20px 0; align-items: center;}
    .right_img_news:first-child {padding: 0px 0 20px 0;}
    .right_img_news:last-child {border: none; padding-bottom: 0px; }
    .right_img_news>div{padding-right: 23px; display: flex; flex-direction: column; height: 100%;}
    .right_img_news>div h2{margin-top: 3px;}
    .right_img_news>div>p {padding-top: 20px; line-height: 25px; letter-spacing: -0.8px; font-size: 14px;}
    .right_img_news img{width: 254px; height: 173px; flex-shrink: 0;}
    /* main conts4 end  */

    /* main conts5 start  */
    .conts5 .inn {display: flex; gap: 25px; margin-top: 40px;}
    .cardNews_textNews {display: flex; flex-direction: column;}
    .cardNews_textNews>div{border-bottom: 1px solid #dbdbdb; padding: 17px 0;}
    .cardNews_textNews>div>h3 {margin-top: 2px;}
    .cardNews_textNews>div:first-child {padding-top: 0px;}
    .cardNews_textNews>div:last-child {border: none; padding-bottom: 0px; }
    .cardNews_textNews>div>p {padding-top:8px; line-height: 20px;}
    .img_news {display: flex; flex-direction: column;}
    .img_news p {letter-spacing: 0px;}
    .title_img {display: flex; height: 92px; align-items: center; margin-bottom: 4px;}
    .title_img img {width: 135px; height: 100%;}
    .title_img h3 {padding-left: 15px; letter-spacing: -1px;}
    .right_card_news {display: flex; flex-direction: column; overflow: hidden; width: 422px; flex-shrink: 0;}
    .right_card_news img {display: block; height: 268px; width:100%; margin-left: 5px;}
    .right_card_news h3 {padding-bottom: 7px; padding-top: 19px;}
    .right_card_news p {line-height: 20px;}
    /* main conts5 end  */
/* contents end */

/* aside.floating start */
    .floating {width: 304px; margin-top: 40px;}
    .floating_invn {position: sticky; top: 0; right: 0; width: 100%;}
    .trending_item, .most_item {display: flex;}
    .blue_text {color: #2834fd;}
    .aside_ttl {display: flex; justify-content: space-between; align-items: center;}
    .aside_ttl h3 {letter-spacing: -0.8px; line-height: 18px; color: #000000; font-weight: 700; font-family: "Noto Sans KR";}
    .arrow::before {content:''; background: url(../image/icon/btn_more.png); display: block; width: 9px; height: 13px;}
    .trending .aside_ttl {margin-bottom: 21px; margin-top: -2px;}
    .trending_list {display: flex; flex-direction: column; gap: 8px; }
    .trending_item {display: flex; gap: 13px; align-items: center;}
    .list_number {background-color: #b7b7b7; display: flex; width: 23px; height: 22px; border-radius: 3px; text-align: center; font-size: 12px; letter-spacing: -1px; color: #ffffff; font-family: "Noto Sans CJ Kkr"; justify-content: center; align-items: center;}
    .blue_bg {background-color: #2935fd;}
    .trending_item p {color: #060606; letter-spacing: 0px;}
    
    .aside_banner {margin-top: 40px; width: 100%; height: 178px; position: relative;}
    .aside_banner .swiper-wrapper {height: 100%;}
    .aside_banner .swiper-wrapper .swiper-slide {height: 100%;}
    .aside_banner .swiper-wrapper .swiper-slide img {object-fit: cover; height: 100%; width: 100%;}
    .aside_banner .swiper-pagination {top: 7px !important; position: absolute; left: -10px!important; text-align: end!important; width: 100%!important;}
    .aside_banner .swiper-pagination-bullet { background-color: #fff!important; width: 9px!important; height: 9px!important;}
    
    .real_time_news {margin-top: 39px;}
    .aside_img_ttl {margin-top: 19px; display: flex; flex-wrap: wrap; justify-content: space-between; gap: 20px;}
    .img_ttl_card {display: flex; flex-direction: column; width: 142px;}
    .img_ttl_card img {height: 96px;}
    .img_ttl_card h5 {font-size: 15px; letter-spacing: -1px; line-height: 21px; color: #000000; font-weight: 500; font-family: "Noto Sans CJ Kkr";}
    .most_viewed {margin-top: 38px;}
    .most_list {margin-top: 6px;}
    .most_item {height: 43px; display: flex; align-items: center; border-bottom: 1px solid #dbdbdb; gap:16px ;}
    .most_number {font-size: 18px; letter-spacing: -1px; line-height: 43px; color: #999999; font-weight: 700; font-family: "Noto Sans KR"; text-align: center; font-style: italic; width: 24px;}
    .most_item p {font-size: 14px; letter-spacing: 0px; line-height: 43px; color: #777777; font-weight: 500; font-family: "Noto Sans CJ Kkr";}
    .bold {color: #000000;}
    .top3 {color: #060606!important;}
    .hot_issue {margin-top: 38px;}
    .hot_issue .aside_ttl {margin-bottom: 20px;}
    .gray_card_item {display: flex; background-color: #f5f5f5; justify-content: center;}
    .card_inner {padding: 15px 0; border-bottom: 1px solid #dbdbdb; width: calc(100% - 30px); display: flex; align-items: center; gap: 16px;} 
    .card_inner img {width: 85px; height: 85px; border-radius: 50%;}
    .card_inner >div>h5 {color: #060606;}
    .card_inner >div>p {line-height: 19px;}
    .gray_card_item > div > div {display: flex; flex-direction: column;}
    .gray_card_item:first-child {padding-top: 4px;}
    .gray_card_item:last-child {padding-bottom: 4px;}
    .gray_card_item:last-child .card_inner {border: none;}
    .news_room {margin-top: 40px;}
    .news_room .aside_ttl {margin-bottom: 20px;}
    .news_room_card_wrap {display: flex; flex-direction: column; gap: 10px;}
    .news_room_card {display: flex; align-items: center; gap: 15px; justify-content: space-between;}
    .news_room_card img {width: 111px; height: 75px; object-fit: cover; flex-shrink: 0;}
    .news_room_card > div > p {line-height: 19px;}

/* aside.floating end */


