@charset "utf-8";
@import url(fonts.css);

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR";
}

/*-------------------------------------------------------------------
    파일정의: Pages contents css
    순서:    Page name > page name > page name ...
-------------------------------------------------------------------*/
/* ------------------------ Reg------------------------ */
.tab-title {
  text-align: center;
  padding: 30px 0 52px;
  font-size: 38px;
  line-height: 34px;
  color: #000000;
  font-weight: 500;
}

.tab-cont table {
  width: 100%;
  white-space: nowrap;
  border-top: 1px solid black;
}

.tab-cont th,
.tab-cont td {
  border: 1px solid #d0d0d0;
}

.tab-cont th {
  background-color: #f5f5f5;
  width: 221px;
  text-align: start;
  padding-left: 20px;
  font-size: 14px;
  letter-spacing: -1px;
  color: #000000;
}

.tab-cont td {
  padding: 10px 0 10px 25px;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
}

.tab-cont input {
  height: 36px;
  width: 338px;
  border-color: #cfcfcf;
}

.table1 th,
.table1 td {
  border-top: none;
}

.table1 td {
  padding-top: 13px;
  padding-bottom: 15px;
}

input[type="checkbox"] {
  appearance: none;
  width: 19px;
  height: 18px;
  border-radius: 20px;
  background-clip: content-box;
  padding: 0px;
  border: none;
  background-color: #d1d1d1;
  margin-right: 1.5px;
}

input[type="checkbox"]:checked {
  background-color: #e63333;
}

/* input[type="checkbox"]::after {
  content: "\2713";
  color: white;
  font-size: 15px;
  padding: 3px;
} */

.address-cont1 {
  display: flex;
  margin-bottom: 5px;
}

.address-cont1 input {
  width: 134px;
}

.address-cont1 button {
  background-color: #666666;
  color: #ffffff;
  padding: 4px 17px 6px 17px;
  letter-spacing: -1px;
  font-weight: 300;
  border-radius: 2px;
  margin-left: 4px;
  font-size: 14px;
}

.address-cont2 input:first-child {
  margin-right: 4px;
}

.table5 p {
  margin-top: -3px;
}

.table5 p,
.table7 td {
  font-size: 15px;
}

.table7 p {
  padding-top: 3px;
  padding-bottom: 5px;
}

.table9 input,
.table9 label {
  margin-top: 4px;
  margin-bottom: 4px;
}

.table10 input,
.table10 label {
  margin-top: 3px;
  margin-bottom: 5px;
}

.check-cont {
  margin-top: 6px;
}

.last-check {
  margin-left: 17px;
}

.agree-terms {
  display: flex;
  margin: 23px 0;
}

.btn-cont button {
  background-color: #2056df;
  color: #ffffff;
  padding: 17px 22px 18px;
  margin: 45px auto 110px;
  font-size: 15px;
  letter-spacing: -1px;
  line-height: 18px;
  color: #ffffff;
  font-weight: 400;
  border-radius: 5px;
}
