@charset "utf-8";
@import url(fonts.css);

/*-------------------------------------------------------------------
    파일정의: Pages contents css
    순서:    Page name > page name > page name ...
-------------------------------------------------------------------*/

/* common */

/* Pages contents css */

/* header start */

/* ------------------------breakin news - seaction 1------------------------ */
.breaking_news{margin-top: 48px; display: flex;  justify-content: space-between; }
.breaking_news_content{ width:270px;}
.break_news_text{width: 245px;}
.break_news_text h2{margin-top: 18px; font-size: 16px; letter-spacing: -1px; line-height: 22px; color: #000000; font-weight: 500; font-family: "Noto Sans CJ Kkr";}
.break_news_text p{font-size: 14px; letter-spacing: -1px; line-height: 20px; color: #777777; font-weight: 300; font-family: "Noto Sans CJ Kkr";}
.break_img{width: 270px; height: 184px; object-fit: cover;}

/* ------------------------seaction 2 new-news and issue check------------------------ */
.big_wrap{margin-top: 40px; display: flex; justify-content: space-between; width: 100%; border-top: 1px solid #000000; padding-top: 35px;}
.news_check_wrap{width: 801px; justify-content: space-between;}
.issue_check{width:300px; height: 797px; display: flex; flex-direction: column; justify-content: space-between;}
.main_news{width: 100%; height: 800px; display: flex; justify-content: space-between;}
.new_news{width: 473px; height: 792px; display: flex; flex-direction: column; ;margin-top: 5px; }
.new_news_content_wrap{display: flex; flex-direction: column; justify-content: space-between; height: 226px; border-bottom: 1px solid #bfbfbf; padding-bottom: 20px; margin-top: 20px;}
.new_news_content_wrap h2{font-size: 20px; letter-spacing: -1px; line-height: 21px; color: #000000; font-weight: 500; font-family: "Noto Sans CJ Kkr"; padding-bottom: 17px;}
.new_news_content{display: flex; justify-content: space-between; align-items: center; gap:17px}
.new_news_content p{font-size: 14px;letter-spacing: -1px;line-height: 23px;color: #777777;font-weight: 300;font-family: "Noto Sans CJ Kkr";}
.issue_check_button{height: 28px; width: 94px; display: flex;}
.issue_check_content{height: 235px; display: flex ; flex-direction: column; justify-content: space-between;}
.issue_check_content h2{font-size: 18px; letter-spacing: -1px; line-height: 25px; color: #000000; font-weight: 500; font-family: "Noto Sans CJ Kkr";}
.color_button{background-color: rgb(255, 85, 0);width: 84px; font-size: 16px; letter-spacing: -1px; line-height: 21px; color: #ffffff; font-weight: 500; font-family: "Noto Sans CJ Kkr";}
.mob_news_p{display: none;}
/* ------------------------seaction-3 old news------------------------ */
.old_news_content_container{width:100%;  margin-top: 40px;}

.old_news_wrap{margin-top: 40px; width: 100%; height: 711px; display: flex; flex-direction: column; }
.slider_advertising{width: 100%;}
.old_news_content{display: flex; align-items: center; gap:17px; border-bottom:1px solid #b1afaf; padding-bottom: 20px; margin-top: 20px;}
.old_news_content h2{font-size: 18px; letter-spacing: -1px; line-height: 21px; color: #000000; font-weight: 500; font-family: "Noto Sans CJ Kkr"; padding: 5px;}
.old_news_content p{font-size: 14px; letter-spacing: -1px; line-height: 21px; color: #777777; font-weight: 300; font-family: "Noto Sans CJ Kkr"; padding: 5px;}
.old_news_img{width:160px;height:  109px; object-fit: cover; min-width: 160px;}
.desc_old_p{font-size: 14px; letter-spacing: -1px; line-height: 21px; color: #777777; font-weight: 300; font-family: "Noto Sans CJ Kkr"; padding: 5px;}
.mob_old_p{font-size: 14px; letter-spacing: -1px; line-height: 21px; color: #777777; font-weight: 300; font-family: "Noto Sans CJ Kkr"; padding: 5px;}
.mob_old_p{display: none;}

/* ------------------------seaction 4 side bar------------------------ */
.side_bar_container{width: 301px; background-color:rgb(237, 235, 235); display: flex; justify-content: center; margin-top: 5px;}
.side_bar_wrapper{width: 271px;}
/* most news */
/* .most_news{height: 455px;} */
.most_news_header{width: 100%; display: flex;justify-content: space-between; align-items: center;  }
.most_news_header_title{display: flex;}
.most_news_header_title h2{font-size: 18px; letter-spacing: -1px; line-height: 25px; color: #000000; font-weight: 700; font-family: "Noto Sans KR";}
.list_content{display: flex; height: 42.3px; align-items: center; gap: 25px; border-bottom: 1px solid #dcdcdc;}
.list_number{font-size: 18px; letter-spacing: -1px; line-height: 43px; color: #777777; font-weight: 700; font-family: "Noto Sans KR"; text-align: center;}
.list_text{font-size: 14px; letter-spacing: 0px; line-height: 43px; flex-wrap: nowrap; color: #777777; font-weight: 500; font-family: "Noto Sans CJ Kkr";}
.top_list_number{font-size: 18px; letter-spacing: -1px; line-height: 43px; color: #000000; font-weight: 700; font-family: "Noto Sans KR"; text-align: center;}
.top_list_text{font-size: 14px; letter-spacing: 0px; line-height: 43px; flex-wrap: nowrap; color: #060606; font-weight: 500; font-family: "Noto Sans CJ Kkr";}
.most_news_slider{margin-top: 15px;}
/* hot issue */
.hot_issue{margin-top:40px ;}
.hot_issue_container{ width: 100%; display: flex; flex-direction: column; align-items: center; gap: 10px; height: 269px; margin-top: 11px;}
.hot_issue_content{display: flex; align-items: center;}
.hot_issue_text h2{font-size: 15px; letter-spacing: -1px; line-height: 21px; color: #060606; font-weight: 500; font-family: "Noto Sans CJ Kkr";}
.hot_issue_text p{font-size: 14px; letter-spacing: -1px; line-height: 19px; color: #777777; font-weight: 300; font-family: "Noto Sans CJ Kkr";}
/* news room */
.news_room{margin-top: 36px;}
.news_room_content{display: flex; align-items: center;  gap:15px}
.news_room_text h2{font-size: 15px; letter-spacing: -1px; line-height: 21px; color: #060606; font-weight: 500; font-family: "Noto Sans CJ Kkr";}
.news_room_text p{ font-size: 14px; letter-spacing: -1px;line-height: 19px;color: #777777;font-weight: 300; font-family: "Noto Sans CJ Kkr";}
.news_room_container{display: flex; flex-direction: column; gap:10px; margin-top: 15px;}
.news_room_header_title {display: flex; gap: 5px;}
.news_room_header_title h2{font-size: 18px; letter-spacing: -1px; line-height: 25px; color: #000000; font-weight: 700; font-family: "Noto Sans KR";}

/* real time news */
.real_time_news{margin-top: 35px; padding-bottom: 10px;}
.real_time_news_content{width: 130px;}
.real_time_news_content p{margin-top: 15px; font-size: 15px; letter-spacing: -1px; line-height: 21px; color: #000000; font-weight: 500; font-family: "Noto Sans CJ Kkr";}
.real_time_news_container_first{margin-top: 18px; display: flex; justify-content: space-between;}
.real_time_news_container_end{margin-top: 14px; display: flex; justify-content: space-between;}
.real_time_img{object-fit: cover;width: 130px; height: 89px; max-width: 100%;}
.news_room_img{object-fit: cover ; height: 75px; width: 110px;min-width: 110px;}

/* icons */
.more_icon {
  background: url("/assets/image/icon/btn_more.png") no-repeat center;
  padding: 10px;
}
.hot_issue_img {
  object-fit: cover;
  width: 83px;
  height: 83px;
  border-radius: 50%;
}
.news_slider_imgs {
  object-fit: cover;
  width: 100%;
  height: 161px;
}
/* ------------------------------news create page------------------------------  */

/* Basics */
.table_container{width: 100%; }

/* information_table */
.information_table{  width: 1140px}
.impormation_title{margin-top: 25px; font-size: 22px; letter-spacing: -1px; line-height: 34px; color: #000000; font-weight: 500; font-family: "Noto Sans KR";}
.information_table_body{border: 1px solid #777777; border-top-color: #000000; margin-top: 15px; width: 100%;}
.information_table_body th{width: 221px; background-color: #f4f4f4; border-bottom:1px solid #777777 ; border-right: 1px solid #777777; text-align: left; padding-left: 27px;}
.information_table_body td{width: 918px; background-color: rgb(255, 255, 255);  border-bottom:1px solid #777777 ;}
.select_category{padding: 10px 24px; display: flex !important; flex-direction: column; gap: 5px;}
.information_option_button{width:140px; height: 36px; border: 1px solid #777777; display: flex; align-items: center;justify-content: space-between; padding: 0 10px ;}
.select_category_row{display: flex; align-items: center; gap: 5px;}
.category_addition{width: 54px; height: 36px; border: none; background-color: #f4f4f4; color: #ffffff; border-radius: 5px;}
.category_trash{width: 28px; height: 26px; border: 1px solid #777777; border-radius: 5px;}
.trash_icon{background: url('../image/icon/레이어\ 76.png') no-repeat center; padding: 10px;}
.journalist_name{height: 30px; padding-left: 24px;font-size: 14px; letter-spacing: -1px; line-height: 47px; color: #000000; font-weight: 300; font-family: "Noto Sans KR";}
.information_id{ padding-left:24px; font-size: 14px; letter-spacing: -1px; line-height: 46px; color: #000000; font-weight: 300; font-family: "Noto Sans KR"}
.imformation_email{height: 29px; padding-left: 24px;font-size: 14px; letter-spacing: -1px; line-height: 46px; color: #000000; font-weight: 300; font-family: "Noto Sans KR"}
.information_title{padding: 10px 24px;}
.information_title input{height: 36px;}
.information_image{padding: 10px 24px;display: flex !important; gap: 5px;}
.information_image input{  width: 193px; height: 36px;}
.information_image button{width: 78px; height: 36px; background-color: #f4f4f4; border-radius: 5px; color: #ffffff;}
.editors_area{height: 329px; width: 100%; display: flex; justify-content: center; align-items: center; border: 1px solid #777777; border-top: none !important;}
/* Tag settings */
.tag_settings{ height: 97px; padding: 0px 24px;}
.tag_settings_input{height: 36px;}
.tag_settings_p{font-size: 13px; letter-spacing: 0px; line-height: 15px; color: #777777; font-weight: 300; font-family: "Noto Sans KR";}


.tag_keywords{height: 79px; padding: 0px 24px;}
/* related_article */
.related_article{margin-top: 27px; width: 100%;}
.related_article_title{margin-bottom: 15px; font-size: 22px; letter-spacing: -1px; line-height: 34px; color: #000000; font-weight: 500; font-family: "Noto Sans KR"; }
.related_article_body{display: flex; align-items: center; gap: 14px; background-color: #e2e2e2; padding:12px; border: 1px solid #777777;}
.related_article_input{width: 318px; height: 36px;} 
/* news list */
.news_lists{width: 100%; margin-top: 20px; display: flex; align-items: center; justify-content: space-between; gap: 20px;}
.news_list_table{height: 297px; width: 597px;border: 1px solid #777777; border-radius: 5px; } 
.arrow_buttons{display: flex;flex-direction: column; gap: 5px;}
.arrow_buttons button{width: 46px; height: 46px; border: 1px solid #777777;} 
.all_news_list_title{height: 48px; background-color: #777777; color: #ffffff; display: flex; align-items: center; justify-content: center; gap: 10px;}
.all_news_list_title p{font-size: 16px; letter-spacing: 0px; line-height: 30px; color: #ffffff; font-weight: 400; font-family: "Noto Sans KR"; text-align: center;}
.select_articles_title p{font-size: 16px; letter-spacing: 0px; line-height: 30px; color: #ffffff; font-weight: 400; font-family: "Noto Sans KR"; text-align: center;}
.select_articles_title{height: 48px; color: #ffffff; display: flex; align-items: center; justify-content: center; gap: 10px; background-color: #029115c7;}
.all_news_list{height: 250px; overflow: scroll; overflow-x: hidden; display: flex; flex-direction: column; padding: 14px;}
.all_news_list li{font-size: 14px; letter-spacing: 0px; line-height: 30px; color: #555555; font-weight: 300; font-family: "Noto Sans KR";}
.all_news_list li:hover{ background-color: #d7d7d7;}
.scroll_news{padding: 14px;}
.instructions{margin-top: 15px; width: 100%;}
.instructions li{font-size: 13px; letter-spacing: 0px; line-height: 22px; color: #246bcc; font-weight: 300; font-family: "Noto Sans KR";}
/*  Basics start */
.modifier{padding: 14px 24px; } 
.exposure{padding: 6.5px 24px; display: flex; flex-direction: column; gap: 7px;}
.radio_group{display: flex; align-items: center; gap: 25px;}
.exposure_chek{display: flex;gap: 22px;}
.exposure input {width: 18px; height:18px ; border-radius: 50%; background-color: #777777;}
.exposure p{font-size: 13px; letter-spacing: 0px; line-height: 18px; color: #777777; font-weight: 300; font-family: "Noto Sans KR";}
.exposure input:checked{background-color: red;border: none;}
.date_exposure{ display: flex; gap: 10px ; padding: 10px 24px; align-items: center;}
.date_exposure input {width: 18px; height:18px ; border-radius: 50%; background-color: #777777;}
.date_input{width: 135px !important; height: 35px !important; border: 1px solid #777777; background-color: #ffffff !important; border-radius: 0 !important;}
.article_exposure_buttons{display: flex; align-items: center; justify-content: center; gap: 5px; margin-top: 50px;}
.article_exposure_buttons button{width: 110px; height: 53px; border-radius: 5px;}
.make_corrections{ background-color: #ffffff; border: 1px solid #777777;}  
.companion{background-color: #de4949; color: #ffffff;}
.information_option_button p{ font-size: 14px; letter-spacing: -1px; line-height: 34px; color: #000000; font-weight: 300; font-family: "Noto Sans KR";}
.information_option_button_end{width: 77px; height: 36px; display: flex; align-items: center; justify-content: space-between; padding: 0 10px; border: 1px solid #777777;}
.article_exposure{width: 100%; margin: 0;}

/*------------------------------ modal ------------------------------*/
#openModalBtn{background-color: #2056df; color: #ffffff;}
.modal { display: none; position: fixed;  top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.7);  z-index: 1;}
.modal-content {width: 600px; height:467px ; background-color: #fff; margin: 2% auto;padding: 25px; border: 1px solid #777777;   box-shadow: 0px 2px 10px #000000; display: flex; flex-direction: column; align-items: center; }
.close { color: #888; float: right; font-size: 20px; font-weight: bold; cursor: pointer;}
.modal_title{width: 100%; display: flex; justify-content: space-between; border-bottom: 2px solid #000000; margin-top: -5px;}
.modal_title h1{font-size: 24px; font-weight: 500; letter-spacing: -1; color: #000000; font-family: "Noto sans KR";}
.modal_table{width: 100%;border: 1px solid #777777; border-top:1px solid #000000 ; margin-top: 30px;}
.modal_table tr th{width: 150px; height: 242px; background-color: #ededed;}
.modal_table tr td{width: 388px; height: 242px;}
.modal_button{width: 110px; height: 52px; border-radius: 5px; background-color: #de4949; color: #ffffff;font-size: 15px; letter-spacing: -1px; line-height: 18px; color: #ffffff; font-weight: 400; font-family: "Noto Sans KR"; margin-top: 31px;}
span{cursor: pointer;}
/*------------------------------ modal end ------------------------------*/
/* images start */
.issue_check_img {
  width: 300px;
  height: 204px;
  object-fit: cover;
}
.new_news_img {
  height: 130px;
  width: 190px;
  object-fit: cover;
}
/* images end */
/* icons start*/
.under_arrow{ background: url('../image/icon/right-arrow.png') no-repeat center;padding: 5px;}
.right_arrow{background: url('../image/icon/right-a.png') no-repeat center; padding: 10px;}
.left_arrow{background: url('../image/icon/left-a.png') no-repeat center; padding: 10px;}
.date_icon{background: url('/assets/image/icon/레이어\ 72.png' ) no-repeat center; padding: 15px;}
.pages{background: url('/assets/image/icon/iocn.png') no-repeat center; padding:10px;}
/* icons end*/



/* test */
.board_list{
  border-top: 1px solid #000000;
  text-align: center;
}
.board_list thead th{
  font-size: 14px;
letter-spacing: -1px;
line-height: 60px;
color: #000000;
font-weight: 300;
font-family: "Noto Sans KR";
}
table{
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}
.text_left{
  text-align: left;
}
.test_table_body{
  border: 1px solid gray;
  border-top: 1px solid #000000;
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

.test_table_body tr th{
  background-color: #f5f5f5;
  border-right:1px solid #dadada ;
  border-bottom: 1px solid #dadada;
}
.test_table_body tr td{
  /* width: 99%; */
  /* display: block; */
  background-color: #fff;
  border-bottom:1px solid #dadada ;
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
}