@charset "utf-8";
@import url(fonts.css);

/*-------------------------------------------------------------------
    파일정의: Pages contents css
    순서:    Page name > page name > page name ...
-------------------------------------------------------------------*/

/* common */

/* Pages contents css */

/* header start */

.breaking_news{margin-top: 49px; display: flex; justify-content: space-between;}
.breaking_news_content{ width:270px;}
.break_news_text{width: 245px;}
.break_news_text h2{font-size: 16px; letter-spacing: -1px; line-height: 22px; color: #000000; font-weight: 500; font-family: "Noto Sans CJ Kkr";}
.break_news_text p{font-size: 14px; letter-spacing: -1px; line-height: 20px; color: #777777; font-weight: 300; font-family: "Noto Sans CJ Kkr";}
.big_wrap{margin-top: 40px; display: flex; justify-content: space-between;}
.news_check_wrap{width: 801px; justify-content: space-between;}
.issue_check{width:300px; height: 800px; display: flex; flex-direction: column; justify-content: space-between;}
 
.main_news{width: 100%; height: 800px; display: flex; justify-content: space-between;}
.new_news{width: 473px; height: 800px; display: flex; flex-direction: column; justify-content: space-between;}
.new_news_content_wrap{display: flex; flex-direction: column; justify-content: space-between; height: 164px;}
.new_news_content_wrap h2{font-size: 20px; letter-spacing: -1px; line-height: 21px; color: #000000; font-weight: 500; font-family: "Noto Sans CJ Kkr";}
.new_news_content{display: flex; justify-content: space-between; align-items: center; gap:17px}
.new_news_content p{font-size: 14px;letter-spacing: -1px;line-height: 23px;color: #777777;font-weight: 300;font-family: "Noto Sans CJ Kkr";}

.old_news_content_container{width:100%;  margin-top: 40px;}
.old_news_wrap{margin-top: 40px; width: 100%; height: 711px; display: flex; flex-direction: column; justify-content: space-between;}
.test1{width: 160px; height: 109px;}
.old_news_content{display: flex; align-items: center; gap:17px;}
.slider_advertising{width: 100%;}
.old_news_content h2{font-size: 18px; letter-spacing: -1px; line-height: 21px; color: #000000; font-weight: 500; font-family: "Noto Sans CJ Kkr";}
.old_news_content p{font-size: 14px; letter-spacing: -1px; line-height: 21px; color: #777777; font-weight: 300; font-family: "Noto Sans CJ Kkr";}
.issue_check_button{height: 28px; width: 94px; background-color: orange;}
.issue_check_content h2{font-size: 18px; letter-spacing: -1px; line-height: 25px; color: #000000; font-weight: 500; font-family: "Noto Sans CJ Kkr";}



.side_bar_container{width: 301px; background-color:rgb(226, 224, 224); display: flex; justify-content: center;}
.side_bar_wrapper{width: 271px;}
.most_news_header{width: 100%; display: flex;justify-content: space-between; align-items: center;  margin-top: 25px;}
.most_news_header_title{display: flex;}
.most_news_header_title h2{font-size: 18px; letter-spacing: -1px; line-height: 25px; color: #000000; font-weight: 700; font-family: "Noto Sans KR";}
.list_content{display: flex; height: 43px; align-items: center; gap: 25px; border-bottom: 1px solid gray;}
.list_number{font-size: 18px; letter-spacing: -1px; line-height: 43px; color: #000000; font-weight: 700; font-family: "Noto Sans KR"; text-align: center;}
.list_text{font-size: 14px; letter-spacing: 0px; line-height: 43px; flex-wrap: nowrap; color: #060606; font-weight: 500; font-family: "Noto Sans CJ Kkr";}

.most_news_slider{margin-top: 15px;}
.hot_issue_container{margin-top: 20px; width: 100%; display: flex; flex-direction: column; align-items: center; gap: 10px; }
.hot_issue_content{display: flex; align-items: center;}
.hot_issue_text h2{font-size: 15px; letter-spacing: -1px; line-height: 21px; color: #060606; font-weight: 500; font-family: "Noto Sans CJ Kkr";}
.hot_issue_text p{font-size: 14px; letter-spacing: -1px; line-height: 19px; color: #777777; font-weight: 300; font-family: "Noto Sans CJ Kkr";}
.news_roop_content{display: flex; align-items: center;  gap:15px}
.news_roop_text h2{font-size: 15px; letter-spacing: -1px; line-height: 21px; color: #060606; font-weight: 500; font-family: "Noto Sans CJ Kkr";}
    .news_roop_text p{ font-size: 14px; letter-spacing: -1px;line-height: 19px;color: #777777;font-weight: 300; font-family: "Noto Sans CJ Kkr";
    }
.news_roop_container{display: flex; flex-direction: column; gap:10px; margin-top: 20px;}
.news_rom_header_title {display: flex; gap: 5px;}
.news_rom_header_title h2{font-size: 18px; letter-spacing: -1px; line-height: 25px; color: #000000; font-weight: 700; font-family: "Noto Sans KR";}


.real_time_news_content{width: 130px;}
.real_time_news_content p{margin-top: 15px; font-size: 15px; letter-spacing: -1px; line-height: 21px; color: #000000; font-weight: 500; font-family: "Noto Sans CJ Kkr";}
.real_time_news_container_first{margin-top: 20px; display: flex; justify-content: space-between;}
.real_time_news_container_end{margin-top: 20px; display: flex; justify-content: space-between;}